<canvas id="c"></canvas>
<div id="views">
    <div class="split">
        <div id="view1" tabindex="1">
            <div id="blocker">
                <div id="instructions">
                    <p style="font-size: xx-large">Click to move</p>
                    <p style="font-size: large">
                        Move: WASD<br />
                        Jump/UP: SPACE<br />
                        Down: Strg <br />
                        Look: MOUSE<br />
                        Stop: ESC <br />
                        Cam: Enter
                    </p>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let cam of cameras; let i = index">
            <div
                [id]="'view' + cam.instanceId"
                [tabindex]="cam.instanceId"
            ></div>
        </ng-container>
    </div>
</div>
